
*{

    font-family: 'Roboto', sans-serif;
}

a:link{
    text-decoration: none;
}

/* header*/

.rounded {
    height: 3rem;
    margin: 0px;
    padding: 0px;
}

.dropdown-item:active {
    background-color: black;
    color: blanchedalmond;
}

.nav-link{
    font-size: 1.3rem;
    text-decoration: white underline;
}

@media (max-width:600px)  and (min-width:200px){

    .rounded {
        height: 3rem;
        margin: 0px;
        padding: 0px;
    }
    
    .dropdown-item:active {
        background-color: black;
        color: blanchedalmond;
    }
    
    .nav-link{
        font-size:0.9rem;
        font-weight: 500;
        text-decoration: white underline;
        color: #06192D;
    }
}

/*service cards*/

.card-img {
    height: 15rem;
    width: 16rem;
    margin:auto;
}

.cards-top {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}   

.card {
    height:18rem;
    width:18rem;;
    /* border: 1px  rgb(196, 193, 193); */
    margin:10px;
    /* box-shadow: 3px 3px 3px rgb(100, 100, 100); */
    border:0.1px solid rgb(216, 215, 215);
    box-shadow: 0.1px 1px 4px rgb(170, 168, 168);
    border-radius: 20px;
    
}

.card:hover{
    border: 2px solid grey;

}

.card-text{
    text-align: center;
    font-size: 1.5rem;
    color:black;
    text-decoration: underline white;
    font-family: 'Roboto', sans-serif;

    
}

.card-text:hover{
    text-decoration: underline white;
    color:black;
    font-family: 'Roboto', sans-serif;
}

@media (max-width:600px)  and (min-width:200px){
    .card-text{
        text-align: center;
        font-size: 0.9rem;
        color:black;
    text-decoration: underline white;
    font-family: 'Roboto', sans-serif;
        
    }

    .card-text:hover{
        text-decoration: underline white;
        color:black;
        font-family: 'Roboto', sans-serif;
    }
}

@media (max-width:600px)  and (min-width:200px){

    .card-img {
    height: 6rem;
    width: 6rem;
    margin: auto;
}


.card{
    height:10rem;
    width:10rem;
}
}


/*scrolling cards*/


.scroll-heading{

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    
}
.underline-heading{
    border-top: 3px solid #A60523;
    width: 20%;
    margin: auto;
}

.horizontal-scroll {
    display: block;
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;

}

.scroll-container {
    display: block;
    white-space: nowrap;

}

.item {
    display: inline-block;
    margin-right: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: 3px;
    box-shadow: 2px 2px 12px rgb(218, 216, 216);
    border-bottom: 1.5px solid rgb(235, 232, 232);  

}
.fa-star{
    color: gold;
}

.item img {
    width: 70rem;
    
    
}

.scroll{       
    margin: auto;
}

.scroll-cap{

    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}
.scroll-cap{

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    color: #06192D;
    font-weight: 500;

}
.scroll-cap2{

    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.5rem;
    margin-bottom: 0.3rem;

}
.scroll-cap3{

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    
}




@media (min-width:900px){
    .scroll-heading{

        text-align: center;
        
        font-size: 3rem;

    }
    .underline-heading{
        border-top: 3px solid #A60523;
        width: 20%;
        margin: auto;
    }
    
    .horizontal-scroll {
        display: flex;
        width: 100%;
        overflow-x: hidden;
        flex-wrap: wrap;
        
    }

    .scroll-container {
       
        width: 25%;
    }

    .item {
        display: inline-block;
        margin-right: 5px;
        background-color: #ffffff;
        color: #06192D;
        border-radius: 5px;
        margin-left: 10px;
        box-shadow: 2px 2px 12px rgb(218, 216, 216);
        border-bottom: 1.5px solid rgb(235, 232, 232);
        width: 74%;
    }

    .item img {
        width: 100%;
        height: 10rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .scroll{
        
        margin: auto;
    }

    .scroll-cap{

       
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
        font-weight: 550;

    }
    .scroll-cap2{

        text-align: center;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        margin-bottom: 0.3rem;
    
    }
    .scroll-cap3{
    
        text-align: center;
        white-space: pre-line;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
    
    }
    
    
}
@media (max-width:600px) and (min-width:200px) {

    .scroll-heading{

        text-align: center;
        
        font-size: 1.5rem;

    }
    .underline-heading{
        border-top: 3px solid #A60523;
        width: 20%;
        margin: auto;
    }
    
    .horizontal-scroll {
        display: block;
        width: 100%;
        overflow-x: scroll;
        box-sizing: border-box;
    }

    .scroll-container {
        display: block;
        white-space: nowrap;
    }

    .item {
        display: inline-block;
        margin-right: 5px;
        background-color: #ffffff;
        color: #06192D;
        border-radius: 5px;
        margin-left: 10px;
        width: 40%;
        height: 170px;
        box-shadow: 2px 2px 12px rgb(218, 216, 216);
        border-bottom: 1.5px solid rgb(235, 232, 232);
        
        
    }

    .item img {
        width:100%;
        height: 6rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    

    .scroll-cap{

        
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        margin-bottom: 0.3rem;
        font-weight: 550;

    }
    .scroll-cap2{

      
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 0.5rem;
        margin-bottom: 0.7rem;
    
    }
    .scroll-cap3 p{
        font-family: 'Roboto', sans-serif;
        font-size: 0.7rem;
        margin-bottom: 0.3rem;
        white-space: pre-line;
    
    }  

}





/*footer*/

.footer{
    display:flex;
    left:0;
    bottom:0;
    width: 100%;
    position: fixed;
    flex-direction: column;
    background-color: #06192D;
    color:white;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}
.footer2{
    display:flex;
    left:0;
    bottom:0;
    width: 100%;
    flex-direction: column;
    background-color: #06192D;
    color:white;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.footer-item{
margin:auto;
}


/* contact us */

    *{
        font-family: 'Roboto', sans-serif;
    }
    .row-team{
        display: flex;
        justify-content: center;
             
    }

    .col-team{

        border: 1px solid rgb(214, 213, 213);
        border-radius: 20px;
        margin: 1rem;
        box-shadow: 1px 1px 4px grey;
        padding: 10px;
        width: 25%;
        

    }
    .img-team{
        margin-left: 25%;
       
    }
    .img-team img{
       
        border-radius: 50%;
        height: 10rem;
        width: 10rem;
        margin: auto;
        
    }
    .name-team{
        text-align: center;
    }
    .title-team{
        color: grey;
        text-align: center;
    }
    .email-team{
        margin-top: 0.7rem;
        text-align: center;
    }
    .team-btn{
        margin-top: 0.7rem;
    }

    .contact-btn{
        width: 100%;
        border-radius: 10px;
        background-color: #A60523;
        border: 2px solid #A60523;
        color: white;
    }

    @media (max-width:600px)  and (min-width:200px){
        *{
        font-family: 'Roboto', sans-serif;
    }
    .row-team{
        display: flex;
        justify-content: center;
        flex-direction: column;
             
    }

    .col-team{

        border: 1px solid rgb(214, 213, 213);
        border-radius: 20px;
        margin: auto;
        margin-bottom: 1rem;
        box-shadow: 1px 1px 4px grey;
        padding: 10px;
        width: 80%;
      
    }
    .img-team{
        margin-left: 25%;
       
    }
    .img-team img{
       
        border-radius: 50%;
        height: 10rem;
        width: 10rem;
        margin: auto;
        box-shadow: 2px 2px 5px grey;
    
        
    }
    .title-team{
        color: grey;
        text-align: center;
    }
    .email-team{
        margin-top: 0.7rem;
        text-align: center;
    }
    .team-btn{
        margin-top: 0.7rem;
    }

    .contact-btn{
        width: 100%;
        border-radius: 10px;
        background-color: #A60523;
        border: 2px solid #A60523;
        color: white;
    }
    }

    /* garage info */

    .garage-services {
       
        width: 100%;
        background-color: rgb(192, 238, 247);
        background-image: linear-gradient(-90deg, rgb(192, 238, 247), rgb(177, 230, 243));
        margin-bottom: 1rem;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }

    .services-list {
        display: flex;
        justify-content: space-between;
       
    }
    .services-list-bullets{
        font-size: 2rem;
        margin-bottom: 2rem;
        list-style: none;
    }
    
    .services-list-bullets img{
        width: 1.5rem;
        height: 1.5rem;
    }
    .abt-list{
        color: white;
    }
    @media (max-width:600px)  and (min-width:200px){
        .garage-services {
            
            width: 100%;
            margin: auto;
            margin-bottom: 1rem;
        }
    
        .services-list {
            display: flex;
            margin: 2px;
        }

        .services-list-bullets{
            font-size: 1rem;
            font-weight: 550;
            
           
        }
        .services-list-bullets img{
            width: 1.7rem;
            height: 1.7rem;
        }

    }

    .container-garage-abt{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem;
        background-color: #A60523;
        background-image: linear-gradient(-90deg, #A60523,#db0e37);
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .garage-abt{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        color: white;
        
    }
    
    @media (max-width:600px)  and (min-width:200px){
        .garage-abt{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
       }
    }
    .contact-nos-garage{
        
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 1rem;
    }


     @media (max-width:600px)  and (min-width:200px){
       
    
    .contact-nos-showroom{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 1rem;
        
    } }


    
/* vehicle info */

    .vehicle-features {
        
        width: 100%;
       
        margin-bottom: 1rem;
    }

    .features-list {
        display: flex;
        justify-content: space-between;
        background-color: #3a3939;
        background-image: linear-gradient(90deg,rgb(46, 46, 46),rgb(68, 68, 68));
        color: #ffffff;
        padding: 1.5rem;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
       
    }
    .features-list-bullets{
        font-size: 1.5rem;
        list-style: none;
    }
    
    @media (max-width:600px)  and (min-width:200px){
        .vehicle-features {
           
            margin-bottom: 1rem;
        }
    
        .features-list {
            display: flex;
            
        }

        .features-list-bullets{
            font-size: 0.8rem;
            font-weight: 400;
        }

    }
    .video-cont {
        display: flex;
        padding: 1rem;
        justify-content: center;

    }

    .video-cont video {

        width: 100%;


    }
.more-videos{
    font-size: 1.5rem;
}

    .vehicle-pics-cont{
        display: flex;
        width: 100%;
        margin-bottom: 1rem;
        justify-content: center;
        flex-wrap: wrap;
    }
    .vehicle-pics{
        border: 1px solid rgb(182, 181, 181);
        width:25rem;
        display: flex;
        justify-content: center;
        box-shadow: 1px 1px 3px rgb(187, 185, 185);
    }
    .vehicle-pics:hover{
        background-color: rgb(225, 230, 230);
    }
    .vehicle-pics-more{
        border: 1px solid rgb(206, 204, 204);
        width:25rem;
       
        display: flex;
        justify-content: center;
        background-color: rgb(207, 205, 206);
    }

    .vehicle-pics img{
        width:25rem;  
    }
    .more-vehicles{

       font-size: 3rem;
       margin: auto;
    }

    @media (max-width:600px)  and (min-width:200px){
        .more-videos{
            font-size: 1rem;
        }
        .vehicle-pics-cont{
            display: flex;
            width: 100%;
            margin-bottom: 1rem;
            justify-content: center;
            flex-wrap: wrap;
        }
        .vehicle-pics{
            border: 1px solid rgb(223, 220, 220);
            width:7rem;
            box-shadow: 1px 1px 3px rgb(206, 204, 204);
            display: flex;
            justify-content: center;
        }
        .vehicle-pics-more{
            border: 1px solid rgb(206, 204, 204);
            width:7rem;
           
            display: flex;
            justify-content: center;
            background-color: rgb(207, 205, 206);
        }
    
        .vehicle-pics img{
            width:6rem;
            height: 6rem;
        }
        
        .more-vehicles{
    
           font-size: 1rem;
           
        }
        }

        .compare-btn-cont {
            display: flex;
            justify-content: center;
            padding: 1rem;
            margin-bottom: 1rem;
            width: 100%;

        }

       
       /* sign in - sign up modal */


    .btn-google {
        color: white;
        background-color: #A60523;
        width: 100%;

        margin-bottom: 10px;
    }

    .btn-facebook {
        color: white;
        background-color: #3b5998;
        width: 100%;

    }


    .offer-item img {
        height: 9rem;
        width: 16rem;
        margin-left: 3px;
        margin-right: 3px;
        border-radius: 5px;
    }

    @media (max-width:600px) and (min-width:200px) {
        .offer-item img {
            height: 9rem;
            width: 16rem;
            margin-left: 3px;
            margin-right: 3px;

        }

        #offer1 {
            margin-left: 18px;
        }

        #offer4 {
            margin-right: 18px;
        }
    }


    @media(min-width: 900px) {
        .offer-item img {
            height: 13rem;
            width: 21rem;
            margin-left: 5px;
            margin-right: 5px;
        }

        #offer1 {
            margin-left: 5rem;
        }


    }


    .showroom-item img {
        height: 9rem;
        width: 16rem;
       margin-top: 1rem;
        margin-right: 3px;
        border-radius: 5px;
    }

    @media (max-width:600px) and (min-width:200px) {
        .showroom-item img {
            height: 4rem;
            width: 4rem;          
                    }

        #showroom1 {
           margin-left: 3px;
        }

        #showroom4 {
            margin-right: 3px;
        }
    }


    @media(min-width: 900px) {
        .showroom-item img {
            height: 13rem;
            width: 21rem;
            margin-left: 5px;
            margin-right: 5px;
        }

        #showroom1 {
            margin-left: 5rem;
        }


    }



    
#showroomvehiclecard{

    border: 0.5px solid rgb(240, 239, 239);
    box-shadow: 0.5px 0.5px 3px rgb(240, 239, 239);
  }
  #showroomvehiclecard:hover {
    border:1px solid rgb(151, 132, 132);
  }
  .carimageshowroom img{
   width:100%;
   height:5rem;
   margin-top:10px;
  }
  .carnameshowroom{
    margin-top:5px;
    width:100%;
  }
  .carnameshowroom h5{
    font-size:0.8rem;
    font-weight:700;
    text-align: center;
    
  }
  .caryear{
  
    width:100%;
  }
  .caryear p{
    margin:0;
  
    font-size:0.8rem;
    text-align:center;
  }
  .variant{
    
    width:100%;
  }
  .variant p{
    margin:3px 0px 0px 0px;
    text-align:center;
    font-size:0.8rem;
  }
  .fueltype p{
    margin:3px 0px 0px 0px;
    text-align:center;
    font-size:0.8rem;
  }
  .cc p{
    margin:3px 0px 0px 0px;
    text-align:center;
    font-size:0.8rem;
  }
  .price h5{
    margin:3px 0px 0px 0px;
    text-align:center;
    font-size:1rem;
    font-weight:600;
  }
  .aboutsh img{
    width:50%;
    height:5rem;
    margin-top:10px;
    margin-left:40px;
   }
   .aboutsh p{
       text-align:center;  
   }
   #colsh1{
      margin:0;
   }
   #colsh2 p{
      font-size:0.7rem;
   }
   #colsh2 h5{
    font-size:1rem;
    font-weight:700;
    text-align:center;  
   }  
   #colcont1{
       font-size:4rem;
   }
   #colcont2{
    font-size:4rem;
   }



   .contact {
    padding-top: 70px;
    padding-bottom: 70px;
  
    background-image: linear-gradient(90deg,rgb(46, 46, 46),rgb(68, 68, 68));
    color: white;
  }
    .contact h3 {
        font-weight: 600;
        font-size:1rem;
        text-shadow: 0 0 3px rgba(0,0,0,0.2);
    }
    .contact p {
        font-weight: 300;
        font-size: 0.9rem;
        
    }

    
.searchbox2 {
    height: 60px;
    width: 450px;
    max-width: 100%;
    background: white;
    border-radius: 10px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    
    display: flex;
  }
  .s{
    width: 750px;
  }
  .searchbox2 > .btn-menu {
    padding: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .searchbox2 > .search {
    border: none;
    width: 100%;
  }
  .searchbox2 > .btn-search {
    padding: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .sv{
    width: 90%;
    margin-bottom:30px;
    margin-top:30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


    

#vehimagecol img{
    width:100%;
    margin-top:30px;
  }
  
  
  .vehname h5{
    margin:8px 0px 0px 0px;
    font-size:1rem;
    font-weight:700;
  }
  .modalveh p{
    margin:2px 0px 0px 0px;
    font-size:0.9rem;
  }
  .vehyr p{
    margin:2px 0px 0px 0px;
    font-size:0.9rem;
  }
  .petrolordiesel p{
    margin:2px 0px 0px 0px;
    font-size:0.9rem;
  }
  .enginecc p{
    margin:2px 0px 0px 0px;
    font-size:0.9rem;
  }
  
  .ratingsveh p{
    margin:2px 0px 0px 0px;
    font-size:0.9rem;
  }
  .vehprice h5{
    margin:5px 0px 8px 0px;
    font-size:1rem;
    font-weight: 700;
    margin-bottom:10px;
  }
  #vehcards{
    border-top: 1.5px solid rgb(240, 239, 239);
    border-bottom:1.5px solid rgb(240, 239, 239);
    box-shadow: 0.5px 0.5px 3px rgb(240, 239, 239);
  }
  #review{
  
    margin-bottom: 10px;
    border-top: 2px solid rgb(235, 232, 232);
    margin-top:6px;
    border-bottom: 2px solid rgb(235, 232, 232);
    box-shadow: 2px 2px 2px rgb(232, 240, 241);
  }
  #customerrev h3{
     font-weight:600;
     font-size:1.4rem;
     margin:10px 0px 0px 10px;
  }
  #customerrev2 p{
    font-weight:700;
    margin:10px 0px 0px 0px;
  }
  #customerrev3 p{
    font-size:1rem;
    margin:10px 0px 10px 0px;
  }
  #customerrev4 p{
   float:Right;
   font-size:25px;
  }
  .topreviews{
    margin-bottom: 10px;
  
  
    border-bottom: 2px solid rgb(235, 232, 232);
  }
  .topreviews h5{
    font-weight:650;
    font-size:1rem;
    margin:10px 0px 0px 0px;
  }
  .topreviews span{
     font-size: 0.7rem;
     margin:0px 0px 0px 0px;
  }
  #ctime{
    font-size:0.6rem;
    margin:-12px 0px 0px 0px;
  }
  #comment{
    font-size:0.8rem;
    margin:5px 0px 10px 0px;
  }
  #ndc{
    border-top: 2px solid rgb(235, 232, 232);
  }
